@font-face {
  font-family: "Rubik";
  src:
    url("../src/asset/font/Rubik-Regular.woff2") format("woff2"),
    url("../src/asset/font/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --Purple-600: hsl(238, 40%, 52%);
  --Pink-400: hsl(358, 79%, 66%);
  --Purple-200: hsl(239, 57%, 85%);
  --Pink-200: hsl(357, 100%, 86%);
  --Grey-800: hsl(212, 24%, 26%);
  --Grey-500: hsl(211, 10%, 45%);
  --Grey-100: hsl(223, 19%, 93%);
  --Grey-50: hsl(228, 33%, 97%);
  --White: hsl(0, 100%, 100%);
}

body {
  font-family: "Rubik", var(--system-ui);
  font-size: 16px;
  background-color: var(--Grey-50);
}

.commentContent,
.sendComment,
.replyComment {
  background-color: var(--White);
  border-radius: 10px;
  padding: 10px 30px;
}

.amountContainer {
  background-color: var(--Grey-100);
  padding: 0px 5px;
  border-radius: 5px;
}

.increBtn,
.decreBtn {
  padding: 5px 10px;
  border: none;
  background-color: var(--Grey-100);
  color: var(--Purple-600);
  font-size: 20px;
}

.decreBtn {
  margin-left: 2px;
}

.amountText {
  color: var(--Purple-600);
  font-weight: bold;
}

.commentContent ~ .comment {
  padding-left: 15%;
}

body,
.commentContent,
.commentHeader,
.actionCommentContainer,
.sendComment,
.replyComment,
.commentEdit,
.replyActionContainer,
.deleteActionContainer,
.editActionContainer,
.deleteActionDialog,
.deleteCancelAction,
.deleteAcceptAction,
.replyBtnAttr,
.sentBtn {
  display: flex;
}

.commentEdit {
  margin: 16px 0px;
}

body,
.deleteCancelAction,
.deleteAcceptAction,
.replyBtnAttr,
.sentBtn {
  justify-content: center;
}

.container {
  width: 50%;
}

.commentContent,
.commentHeader,
.actionCommentContainer,
.replyActionContainer,
.deleteActionContainer,
.editActionContainer,
.deleteActionDialog,
.deleteCancelAction,
.deleteAcceptAction,
.replyBtnAttr,
.sentBtn {
  align-items: center;
}

.commentContent,
.replyComment {
  margin-bottom: 15px;
}

.commentContent {
  gap: 25px;
}

.commentHeader,
.sendComment,
.actionCommentContainer,
.replyComment,
.commentEdit {
  gap: 15px;
}

.replyActionContainer,
.deleteActionContainer,
.editActionContainer {
  gap: 10px;
}

.replyActionBtn,
.deleteActionBtn,
.editActionBtn {
  border: none;
  background-color: var(--White);
  font-size: 15px;
  font-weight: bold;
}

.replyActionBtn,
.editActionBtn {
  color: var(--Purple-600);
}

.deleteActionBtn {
  color: var(--Pink-400);
}

.profileImg {
  width: 35px;
}

.actionCommentContainer {
  flex: 1;
  justify-content: end;
}

.sendComment,
.replyComment,
.commentEdit {
  align-items: start;
}

.sendComment {
  margin-top: 25px;
}

.commentInput,
.replyInput,
.editCommentInput,
.actionCommentContainer {
  flex: 1;
}

.commentContainer {
  width: 100%;
}

.amountText {
  text-align: center;
}

.deleteActionDialog {
  justify-content: space-between;
}

.profileName {
  font-weight: bold;
  color: var(--Grey-800);
}

.commentDate,
.commentContentPara,
.delete {
  color: var(--Grey-500);
}

.repliesText {
  color: var(--Purple-600);
  font-weight: bold;
}

.deleteDialog {
  border: none;
  border-radius: 15px;
  padding: 30px;
  width: 325px;
  height: 190px;
}

.deleteActionDialog {
  margin-top: 30px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 50%);
}

.deleteCancelAction,
.deleteAcceptAction,
.replyBtnAttr,
.sentBtn {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.replyBtnAttr,
.sentBtn {
  background-color: var(--Purple-600);
}

.deleteCancelAction,
.deleteAcceptAction,
.replyBtnAttr,
.sentBtn {
  height: 40px;
  padding: 0px 25px;
  font-size: 15px;
}

.deleteCancelAction {
  background-color: var(--Grey-500);
}

.deleteAcceptAction {
  background-color: var(--Pink-400);
}

.deleteHeader {
  font-size: 25px;
}

.editCommentInput,
.commentInput {
  padding: 15px;
  height: 75px;
  border-radius: 5px;
}

.sendComment {
  padding: 30px 30px;
}
