.commentContent ~ .comment {
  padding-left: 15%;
}

body,
.commentContent,
.commentHeader,
.actionCommentContainer,
.sendComment,
.replyComment {
  display: flex;
}

body {
  justify-content: center;
}

.container {
  width: 50%;
}

.commentContent,
.commentHeader,
.actionCommentContainer {
  align-items: center;
}

.commentContent,
.replyComment {
  margin-bottom: 15px;
}

.commentContent {
  gap: 25px;
}

.commentHeader,
.sendComment,
.actionCommentContainer,
.replyComment {
  gap: 15px;
}

.profileImg {
  width: 35px;
}

.actionCommentContainer {
  flex: 1;
  justify-content: end;
}

.sendComment,
.replyComment {
  align-items: start;
}

.sendComment {
  margin-top: 25px;
}

.commentInput,
.replyInput {
  flex: 1;
}

.amountText {
  text-align: center;
}
